body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 100px
}



body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('assents/imagem\ fundo.png') no-repeat center center/cover;
    color: white;
}

.carroCadastro {
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 15px;
    padding: 100px;

}
.botao{
    background: #2E334D;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
